
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="Designer" content="PremiumPixels.com">
    <meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/structure.css" rel="stylesheet" />
</head>
<body>
    <h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
    <div class="box login">
        @using (Html.BeginForm())
        {
            <fieldset class="boxBody">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="sr-only" for="form-username">Username</label>
                    <input type="text" name="username" tabindex="1" placeholder="Username" required>
                    @ViewData["Loi1"]
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-password"><a href="#" class="rLink" tabindex="5">Forget your password?</a>Password</label>
                    <input type="password" name="password" tabindex="2" placeholder="Password" required>
                    @ViewData["Loi2"]
                </div>
            </fieldset>
            <footer>
                <label><input type="checkbox" tabindex="3">Keep me logged in</label>
                <input type="submit" class="btnLogin" value="Login" tabindex="4">
            </footer>
        }
    </div>

</body>
</html>
