
@{
    ViewBag.Title = "GiohangPartial";
}

<a href="@Url.Action("Giohang","Giohang")" style="color:white; font-weight:bold; text-decoration:none; float:right">
    <img style=" height:55px" src="~/Assets/Images/img-sprite.png" />Giỏ hàng (@ViewBag.Tongsoluong)
</a>


